@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    padding: 0;
}

.main-menu {
    background-color: rgba(0,0,0,0.6);
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-menu h1 {
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}

.hidden {
    display: none;
}

.game-screen {
    background-color: grey;
    height: 80rem;
    max-width: 80rem;
    margin: 2rem auto;
    border: 0.5rem solid grey;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.8);
    border-radius: 0.5rem;
}
.blurred {
    filter: blur(10px);
}

.world {
    background-color: seagreen;
    height: 60%;
    display: flex;
    background: linear-gradient(to bottom, black, rgba(250,250,250,1));
    box-shadow: inset 0px -1px 5px 2px;
    border-radius: 0.5rem;
}

.actor {
    border-collapse: collapse;
    width: 50%;
    overflow: hidden;

}

.name {
    background-color: transparent;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    padding-top: 1.5rem;
    color: white;
}

.actor img {
    max-height: 80%;
    margin: 0 auto;
    display: block;
}

.progress {
    background-color: black;
    height: 2rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 0.2rem black;
}

.progress .progress-value {
    background-color: rgba(220,30,0,1);
    border-radius: 0.5rem;
    height: 100%;
    max-width: 100%;

}

#hp-player {
    width: 5%;
}

#hp-enemy {
    width: 5%;
}

.inputs {
    /* background-color: white; */
    height:40%;
    font-size: 3rem;
}


.actions {
    height: 100%;
    width: 40%;
    margin: 0 auto;
    margin-top: 2.5rem;
}

button {
    width: 100%;
    height: 4rem;
    margin: 0.2rem 0;
    display: block;
    border-radius: 0.5rem;
    border: none;
    box-shadow: inset 0px -1px 1px 1px rgba(0,0,0,0.6),
                inset 0px 1px 1px 1px rgba(255,255,255,0.4);
    background-color: rgb(160, 160, 160);
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
}

button:hover:enabled {
    background-color: #FFC300;
}

#menu-btn {
    margin-top: 4rem;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.shaking {
    animation-name: shake;
    animation-duration: 0.3s;
 }
